{% extends 'app/base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/baseWithFootNav.css" %}" />
    {% block css_extend %}{% endblock %}
{% endblock %}
{% block navbar %}
    <header class="sticky-top">
        <div class="navbar navbar-expand-lg  navbar-dark bg-primary shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="{% url 'app:home' %}"
                   class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="20"
                         height="20"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="mr-2"
                         focusable="false"
                         aria-hidden="true">
                        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                        <circle cx="12" cy="13" r="4"></circle>
                    </svg>
                    <strong>Logo</strong>
                </a>
                <button class="navbar-toggler collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarColor02"
                        aria-controls="navbarColor02"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" id="nav-link-home" href="{% url 'app:home' %}">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" id="nav-link-search" href="{% url 'app:search' %}">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-link-contact-us" href="{% url 'app:contactUs' %}">Contact Us</a>
                        </li>
                    </ul>
                    <form class="form-inline">
                        {% if user.is_authenticated == True %}
                        <a class="btn btn-outline-light my-2 my-sm-0 mr-4 position-relative"
                        href="{% url 'app:cart' %}">Cart <span data-feather="shopping-cart"></span>
                        <div class="shopping-cart-count">5</div>
                    </a>
                    <a class="btn btn-outline-light my-2 my-sm-0 mr-4" href="{% url 'app:profile' user.username %}">Profile</a>
                    <a class="btn btn-outline-light my-2 my-sm-0 mr-4" href="{% url 'app:logout' %}">Log out</a>
                {% else %}
                    <a class="btn btn-outline-light my-2 my-sm-0 mr-4"
                       href="{% url 'app:login' %}">Log in</a>
                    <a class="btn btn-outline-light my-2 my-sm-0"
                       href="{% url 'app:register' %}">Register</a>
                {% endif %}
            </form>
        </div>
    </div>
</div>
</header>
{% endblock %}
{% block footer %}
    <footer class="text-muted bg-light mt-auto">
        <div class="container">
            <p class="">© Company Inc. 2023. We love our users!</p>
        </div>
    </footer>
{% endblock %}
