{% extends 'app/baseWithFootNav.html' %}
{% load staticfiles %}
{% block css_extend %}
    <link rel="stylesheet" href="{% static "css/cart.css" %}" />
{% endblock %}
{% block title_block %}Cart{% endblock %}
{% block body_block %}
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive shopping-cart">
                        <table class="table">
                            <col width="70%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="10%" />
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center">Subtotal</th>
                                    <th class="text-center">
                                        <button class="btn btn-sm btn-outline-danger" id="remove-all-from-cart-button" href="">Clear Cart</button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if cart_items %}
                                    {% for item in cart_items %}
                                        {% include 'component/cartItem.html' %}
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="12">
                                            <div class="text-center">No item in cart</div>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="shopping-cart-footer">
                        <div class="column text-lg">
                            Total: <span class="text-medium">£{{ total_price }}</span>
                        </div>
                    </div>
                    <div class="shopping-cart-footer">
                        <div class="column">
                            <a class="btn btn-outline-secondary" href="{% url 'app:home' %}"><i class="icon-arrow-left"></i>&nbsp;Back to Shopping</a>
                        </div>
                        <div class="column">
                            <a class="btn btn-primary" href="">Update Cart</a>
                            <a class="btn btn-primary" href="">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
{% endblock %}
