<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>buy now</title>
    <link href="../../static/css/buy.css" rel="stylesheet"/>
</head>
<body>

<form class="order-container" id="form1" action="/comment">

    <input hidden name="order_id" value="{{ id }}">
    <div class="order-item order-item-border-bottom order-item-line">
        <h3 class="order-item-hd">商品</h3>
        <div class="order-item-product-list">
            <div class="order-item-product-li">
                <div class="order-item-product-pic">
                    <img data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                         alt="Thumbnail [100%x225]" style="height: 100%; width: 100%; display: block;"
                         src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1867f1103d2%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1867f1103d2%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.82500076293945%22%20y%3D%22118.74000034332275%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                         data-holder-rendered="true">
                </div>
                <div class="order-item-product-info">
                    商品名:<input value="提拉米苏" readonly>
                    单价：<input  value="100" readonly>RMB
                    数量：<input  value="1" readonly> 个
                </div>
            </div>
        </div>
        </a>
    </div>

    <div class="order-item">
        <div class="order-item-hd">
            <h5>您的评价</h5>
        </div>
        <div class="order-item-box">
            <div class="order-item-left">
						<textarea class="order-item-left-textarea"
                                  placeholder="请您给出真实评价哦" name="content"></textarea>
            </div>
            <div class="order-item-right"></div>
        </div>
    </div>

    <div class="order-item-footer">
        <div class="order-item-footer-right">
            <div class="order-item-footer-pay">
                <button class="pay-btn">Commit</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>