{% extends 'app/baseWithFootNav.html' %}
{% load staticfiles %}
{% block css_extend %}
    <link rel="stylesheet" href="{% static "css/contactUs.css" %}" />
{% endblock %}
{% block title_block %}Contact Us{% endblock %}
{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Contact Us</h1>
                <p class="lead text-muted text-center">Via phone or email or meet us at the office</p>
            </div>
            <div class="col-md-4 mt-4">
                <div class="d-flex flex-column align-items-center">
                    <i data-feather="map-pin" class="size-map-pin-icon"></i>
                    <h3 class="mt-3">Address</h3>
                    <p class="text-center">Glasgow, Scotland, United Kingdom</p>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="d-flex flex-column align-items-center">
                    <i data-feather="phone" class="size-phone-icon"></i>
                    <h3 class="mt-3">Phone</h3>
                    <p class="text-center">00000 000 00 0</p>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="d-flex flex-column align-items-center">
                    <i data-feather="mail" class="size-mail-icon"></i>
                    <h3 class="mt-3">Email</h3>
                    <p class="text-center">business@info.com</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
