{% extends 'app/baseWithFootNav.html' %}
{% load staticfiles %}
{% block title_block %}Homepage{% endblock %}
{% block body_block %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Ecommerce Website</h1>
        <p class="lead text-muted">Browse our most popular items</p>
        <p>
        <form class="form-inline mt-2 mt-md-0 justify-content-center">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
        </p>
    </div>
</section>
{% endblock %}