{% extends 'app/baseWithFootNav.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/search.css" %}" />
{% endblock %}
{% block title_block %}Search{% endblock %}
{% block body_block %}
    <div class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 py-2">
                    <form class="form-inline my-2 mt-md-0 justify-content-center">
                        <input class="form-control mr-sm-2"
                               type="text"
                               placeholder="Search"
                               aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
                <div class="col-12 py-2">
                    <h3>Searched Items</h3>
                    <p class="lead text-muted">These are your searched items</p>
                </div>
                {% if items %}
                    {% for item in items %}
                        <div class="col-md-4">{% include 'component/card.html' %}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
