.display-5 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-5 {
    font-size: 3rem;
  }
}

.fw-bolder {
  font-weight: bolder !important;
}
.text-decoration-line-through {
  text-decoration: line-through !important;
}
.me-3 {
  margin-right: 1rem !important;
}
.selected-item-img {
  width: 600px;
  height: 100%;
  object-fit: cover;
}
