form {
  margin: 0 auto;
  padding: 1em;
  border: 0px solid #7950d9;
  border-radius: 1em;
}
.form-group {
  margin-bottom: 2em;
}
label {
  display: inline-block;
  width: 80px;
  text-align: right;
}
input,
textarea {
  font: 1.5em sans-serif;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #666363;
}

textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

.main-container {
  margin: 0px auto;
  max-width: 400px;
  padding: 4em;
  border: 2px solid #595a5c;
  border-radius: 1em;
}
header {
  text-align: center;
}
header img {
  width: 100px;
}
.footer-text {
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer-text a {
  color: #7950d9;
}
.footer-text a:hover {
  color: #df2fd0;
}

main {
  background: #e9ecef;
  height: 100vh;
}

.main-container {
  background: #fff;
  
}