<tr>
    <td>
        <div class="product-item">
            <a class="product-thumb" href="#">
                <img src="https://www.bootdey.com/image/220x180/FF0000/000000"
                     alt="Product">
            </a>
            <div class="product-info">
                <h4 class="product-title">
                    <a href="#">Unionbay Park</a>
                </h4>
                <span>Description</span>
            </div>
        </div>
    </td>
    <td class="text-center">
        <div class="count-input">
            <input class="form-control"
                id="inputQuantity"
                type="num"
                value="1"
                name="inputQuantity"
                for="inputQuantity">
        </div>
    </td>
    <td class="text-center text-lg text-medium">£43.90</td>
    <td class="text-center">
        <a class="remove-from-cart"
           href="#"
           data-toggle="tooltip"
           title=""
           data-original-title="Remove item"><i class="fa fa-trash"></i></a>
    </td>
</tr>