<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header">Change Password</div>
            <div class="card-body">
                <form method="post" action="." >
                    {% csrf_token %}
                    <!-- Form Group (current password)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="id_old_password">Current Password</label>
                        <input class="form-control" type="password" name="old_password" autofocus="" required="" id="id_old_password" placeholder="Enter current password">
                    </div>
                    <!-- Form Group (new password)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="id_new_password1">New password</label>
                        <input class="form-control" type="password" name="new_password1" required="" id="id_new_password1" placeholder="Enter new password">
                        <span class="helptext"></span>
                    </div>
                    <!-- Form Group (confirm password)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="id_new_password2">Confirm Password</label>
                        <input class="form-control" type="password" placeholder="Confirm new password" name="new_password2" required="" id="id_new_password2">
                    </div>
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}<li>{{ error }}</li>{% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
